#sobre-mi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2.5rem 1rem;
  flex-wrap: wrap;
}
.foto img {
  max-width: 220px;
  width: 100%;
  border-radius: 50%;
}
.info-personal {
  max-width: 600px;
}
.info-personal h1 {
  font-size: 2.5rem;
}
.info-personal p {
  font-size: 1.125rem;
}
.resaltado {
  color: #00bfff;
}
/* Contenedor responsivo */
@media (max-width: 768px) {
  #sobre-mi {
    flex-direction: column;
    text-align: center;
    h1 {
      font-size: 2rem;
    }
    img {
      width: 150px;
    }
    p {
      font-size: 1rem;
      padding: 0 15px 0 15px;
    }
  }
}
